streamlit
streamlit-chat
python-dotenv
langchain
openai
torch
pytesseract
langchain-core
langchain-openai
langchain-community
huggingface-hub
sentence-transformers
faiss-cpu
setuptools
wheel
opencv-python
langsmith
datasets
pix2text